body {
    font-family: Arial;
    padding: 0;
    margin: 2% 30%;
}

.button-click{
    padding: 10px 20px;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
    font-size: 16px;
}

.button-click:hover {
    background-color: #689AD3;
}

.link {
    padding: 10px 20px;
    margin-bottom: 1em;
    border: 1px solid black;
    background-color: #dfdfdf;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    display:flex;
    flex-direction: column;
}

.test-q {
    padding: 10px 20px;
    margin-bottom: 1em;
    border: 1px solid black;
    background-color: #dfdfdf;
    font-size: 14px;
}

.test {
    margin: 1em;
}

.form-action {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#id_name {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_phone_number {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_gender {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_old {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_instagram {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_telegram {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_email {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}