body {
    font-family: Arial;
    padding: 0;
    margin: 2% 30%;
}

.button-click{
    padding: 10px 20px;
    border: none;
    background-color: #dfdfdf;
    cursor: pointer;
    font-size: 16px;
}

.button-click:hover {
    background-color: #689AD3;
}

.form-action {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

#id_name {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_phone_number {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_gender {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_old {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_instagram {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_telegram {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}

#id_email {
   margin: 2% 0;
   width: 100%;
   height: 30px;
}